In [1]:
import pandas as pd 
data = pd.read_csv('datasets/german_credit_data_dataset.csv')
data.head()

,checking_account_status,duration,credit_history,purpose,credit_amount,savings,present_employment,installment_rate,personal,other_debtors,...,property,age,other_installment_plans,housing,existing_credits,job,dependents,telephone,foreign_worker,customer_type
0,A11,6,A34,A43,1169.0,A65,A75,4.0,A93,A101,...,A121,67.0,A143,A152,2.0,A173,1,A192,A201,1
1,A12,48,A32,A43,5951.0,A61,A73,2.0,A92,A101,...,A121,22.0,A143,A152,1.0,A173,1,A191,A201,2
2,A14,12,A34,A46,2096.0,A61,A74,2.0,A93,A101,...,A121,49.0,A143,A152,1.0,A172,2,A191,A201,1
3,A11,42,A32,A42,7882.0,A61,A74,2.0,A93,A103,...,A122,45.0,A143,A153,1.0,A173,2,A191,A201,1
4,A11,24,A33,A40,4870.0,A61,A73,3.0,A93,A101,...,A124,53.0,A143,A153,2.0,A173,2,A191,A201,2

In [2]:
data.describe()

,duration,credit_amount,installment_rate,present_residence,age,existing_credits,dependents,customer_type
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,20.903000,3271.258000,2.973000,2.845000,35.546000,1.407000,1.155000,1.300000
std,12.058814,2822.736876,1.118715,1.103718,11.375469,0.577654,0.362086,0.458487
min,4.000000,250.000000,1.000000,1.000000,19.000000,1.000000,1.000000,1.000000
25%,12.000000,1365.500000,2.000000,2.000000,27.000000,1.000000,1.000000,1.000000
50%,18.000000,2319.500000,3.000000,3.000000,33.000000,1.000000,1.000000,1.000000
75%,24.000000,3972.250000,4.000000,4.000000,42.000000,2.000000,1.000000,2.000000
max,72.000000,18424.000000,4.000000,4.000000,75.000000,4.000000,2.000000,2.000000

In [3]:
data.columns

Index(['checking_account_status', 'duration', 'credit_history', 'purpose',
       'credit_amount', 'savings', 'present_employment', 'installment_rate',
       'personal', 'other_debtors', 'present_residence', 'property', 'age',
       'other_installment_plans', 'housing', 'existing_credits', 'job',
       'dependents', 'telephone', 'foreign_worker', 'customer_type'],
      dtype='object')

In [4]:
  data = data.drop(['telephone','personal','present_residence','other_installment_plans'], axis=1)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   checking_account_status  1000 non-null   object
 1   duration                 1000 non-null   int64
 2   credit_history           1000 non-null   object
 3   purpose                  1000 non-null   object
 4   credit_amount            1000 non-null   float64
 5   savings                  1000 non-null   object
 6   present_employment       1000 non-null   object
 7   installment_rate         1000 non-null   float64
 8   other_debtors            1000 non-null   object
 9   property                 1000 non-null   object
 10  age                      1000 non-null   float64
 11  housing                  1000 non-null   object
 12  existing_credits         1000 non-null   float64
 13  job                      1000 non-null   object
 14  dependents               1000 non-null   int64
 15  foreign_worker           1000 non-null   object
 16  customer_type            1000 non-null   int64
dtypes: float64(4), int64(3), object(10)
memory usage: 132.9+ KB

In [6]:
data.shape

(1000, 17)

In [8]:
from sklearn.preprocessing import LabelEncoder
saving_dict = {'A65' : 0, 'A61' : 1, 'A63' : 2, 'A64' : 3, 'A62' : 4}

data['savings'].replace(saving_dict, inplace=True)
data.head()

,checking_account_status,duration,credit_history,purpose,credit_amount,savings,present_employment,installment_rate,other_debtors,property,age,housing,existing_credits,job,dependents,foreign_worker,customer_type
0,A11,6,A34,A43,1169.0,0,A75,4.0,A101,A121,67.0,A152,2.0,A173,1,A201,1
1,A12,48,A32,A43,5951.0,1,A73,2.0,A101,A121,22.0,A152,1.0,A173,1,A201,2
2,A14,12,A34,A46,2096.0,1,A74,2.0,A101,A121,49.0,A152,1.0,A172,2,A201,1
3,A11,42,A32,A42,7882.0,1,A74,2.0,A103,A122,45.0,A153,1.0,A173,2,A201,1
4,A11,24,A33,A40,4870.0,1,A73,3.0,A101,A124,53.0,A153,2.0,A173,2,A201,2

In [9]:
data = pd.get_dummies(data, columns=['checking_account_status','credit_history','purpose','present_employment','property','housing','other_debtors','job','foreign_worker'])

data.shape

(1000, 48)

In [10]:
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [11]:
def naive_bayes(x_train,y_train):
    classifier = GaussianNB()
    classifier.fit(x_train,y_train)

    return classifier

In [12]:
def k_nearest_neighbors(x_train,y_train):
    classifier = KNeighborsClassifier(n_neighbors=10)
    classifier.fit(x_train,y_train)

    return classifier

In [13]:
def svc(x_train,y_train):
    classifier = SVC(kernel='rbf', gamma='scale')
    classifier.fit(x_train,y_train)

    return classifier

In [14]:
def decision_tree(x_train, y_train):
    classifier = DecisionTreeClassifier(max_depth = 6)
    classifier.fit(x_train,y_train)
    return classifier

In [15]:
from sklearn.model_selection import train_test_split 
from sklearn.metrics import accuracy_score

In [16]:
X = data.drop('customer_type', axis=1)
Y = data['customer_type']

x_train, x_test, y_train, y_test = train_test_split(X,Y,test_size=0.2)

In [17]:
def build_and_train_classifier(x_train, y_train, classfication_fn):

    model = classfication_fn(x_train, y_train)
    y_pred = model.predict(x_test)
    
    train_score = model.score(x_train, y_train)
    test_score = accuracy = accuracy_score(y_test, y_pred)

    print("Training Score : ", train_score)
    print("Testing Score : ", test_score)

In [18]:
build_and_train_classifier(x_train, y_train, naive_bayes)

Training Score :  0.73625
Testing Score :  0.715

In [19]:
build_and_train_classifier(x_train, y_train, k_nearest_neighbors)

Training Score :  0.72375
Testing Score :  0.725

In [20]:
build_and_train_classifier(x_train, y_train, svc)

Training Score :  0.70375
Testing Score :  0.735

In [21]:
build_and_train_classifier(x_train, y_train, decision_tree)

Training Score :  0.83375
Testing Score :  0.74